BB.Web/Service References/ServiceReference1/BBService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://it500574.ho.pfgroup.provfin.com:209/BBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BB.DataContracts" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:RegisterCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="RegisterUserResult" nillable="true" type="q2:RegisterUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:ChangePasswordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q4:ChangePasswordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:PlaceOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="PlaceOrderResult" nillable="true" type="q6:PlaceOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="request" nillable="true" type="q7:RetrieveItemCategoriesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="RetrieveItemCategoriesResult" nillable="true" type="q8:RetrieveItemCategoriesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="request" nillable="true" type="q9:RetrieveItemsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BB.DataContracts" minOccurs="0" name="RetrieveItemsResult" nillable="true" type="q10:RetrieveItemsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>